{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap5 %}


{% block content %}

<div class="container-fluid" id="principal">
    <div class="row">
        <div class="col-5">
            {% if object %}
            <h3>Editar Animal</h3>
            {% else %}
            <h3>Adicionar Animal</h3>
            {% endif %}
        </div>
    </div>
    <hr>

    <form method="post" class="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-2">
            {% bootstrap_field form.name %}
            </div>
            <div class="col-md-1">
            {% bootstrap_field form.breed %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2">
                {% bootstrap_field form.birthdate %}
            </div>
            <div class="col-md-1">
            {% bootstrap_field form.gender %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary " type="submit"
                    onclick="this.disabled=true; this.form.submit();">Salvar</button>
                <a class="btn btn-danger " type="button" href="{% url 'animals-list' %}">Cancelar</a>
            </div>
        </div>
    </form>
</div>

{% endblock%}

{% block scripts%}
<script>
    $('#id_user').val('{{user}}');
</script>
{% endblock%}