{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<style>
    #principal{
        margin-top: 10px;
    }
</style>
<div class="container-fluid" id="principal">
    <div class="row">
        <div class="col-10">
            <h5>Espécies</h5>
        </div>
        <div class="col-2">
            <a class="btn btn-primary " type="button" href="{% url 'species-add'%}" >Adicionar</a>
        </div>
    </div>
    {% if species %}
    <div class="row">
        <table class="table">  
            <thead>
                <tr>
                    <th scope="col"> Id </th>
                    <th scope="col"> Especie </th>
                    <th scope="col"> Ativo </th>
                    <th scope="col"> Ação </th>
                </tr>
            </thead>
            <tbody>
                {% for specie in species %}
                <tr>
                    <th scope="how">{{specie.id}}</th>
                    <th>{{specie.name}}</th>
                    <th>{{specie.active}}</th>
                    <th>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a type="button"  class="btn btn-warning" href="{% url 'species-edit' pk=specie.id %}" style="margin-right: 3px;">Editar</a>
                            <button type="button" class="btn btn-danger">Inativar</button>
                        </div>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>   
    </div>
    {% endif%}
</div>
{% endblock%}