{% extends 'base.html' %}
{% load bootstrap5 %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container-fluid" id="principal">
    <div class="row">
        <div class="col-5">
            <h3>Espécies</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <a class="btn btn-primary " type="button" href="{% url 'species-add'%}" >Adicionar</a>
        </div>
    </div>
    {% if species %}
    <div class="row">
        <table class="table align-middle mb-0 bg-white"> 
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Especie </th>
                    <th> Ativo </th>
                    <th> Ação </th>
                </tr>
            </thead>
            <tbody>
                {% for specie in species %}
                <tr>
                    <td>
                        <p class="fw-normal mb-1"> {{ specie.id }}</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1"> {{ specie.name }}</p>
                    </td>

                    <td>
                        <p class="fw-normal mb-1"> {{ specie.active }}</p>
                    </td>

                    <td>
                        <a type="button"  class="btn btn-dark" href="{% url 'species-edit' pk=specie.id %}" 
                        style="margin-right: 3px;">Editar</a>                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>   
    </div>
</div>
{% endif%}
{% endblock%}