{% extends 'base.html' %}
{% load bootstrap5 %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="container-fluid" id="principal">
    <div class="row">
        <div class="col-5">
            {% if object %}
            <h3>Editar Vacina</h3>
            {% else %}
            <h3>Adicionar Vacina</h3>
            {% endif %}
        </div>
    </div>
    <hr>

    <form method="post" class="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-5">
                {% bootstrap_field form.name %}
            </div>
            <div class="col-md-5">
                {% bootstrap_field form.developer %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                {% bootstrap_field form.specie %}
            </div>
            <div class="col-md-5">
                {% bootstrap_field form.dosage %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% bootstrap_field form.description %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary " type="submit"
                    onclick="this.disabled=true; this.form.submit();">Salvar</button>
                <a class="btn btn-danger " type="button" href="{% url 'vaccines-list' %}">Cancelar</a>
            </div>
        </div>
    </form>
</div>
{% endblock%}