{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<style>
    #principal{
        margin-top: 10px;
    }
</style>
<div class="container-fluid" id="principal">
    <form method="post" class="col-md-11 form">
        <div class="row">

            {% csrf_token %}
            <div class="col-2">
                <h5>Vacinas</h5>
            </div>
            <div class="col-6">
                <h5 style="margin-right: 10px;">Filtro:</h5>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">{% trans 'Buscar' %}</button>
            </div>
            <div class="col-2">
                <a class="btn btn-primary " type="button" href="{% url 'vaccines-add'%}">Adicionar</a>
            </div>
        </div>
    </form>
    {% if vaccines %}
    <div class="row">
        <table class="table">  
            <thead>
                <tr>
                    <th scope="col"> Id </th>
                    <th scope="col"> Nome </th>
                    <th scope="col"> Ativo</th>
                    <th scope="col"> Ação </th>
                </tr>
            </thead>
            <tbody>
                {% for vaccine in vaccines %}
                <tr>
                    <th scope="how">{{vaccine.id}}</th>
                    <th>{{vaccine.name}}</th>
                    <th>{{vaccine.active}}</th>
                    <th>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a type="button"  class="btn btn-warning" href="{% url 'vaccines-edit' pk=vaccine.id%}">Editar</a>
                            <button type="button" class="btn btn-danger">Inativar</button>
                        </div>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>   
    </div>
    {% endif%}
</div>
{% endblock%}