{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<div class="container-fluid" id="principal">
    <div class="row">
        <div class="col-5">
            <h3>Vacinas</h3>
        </div>
    </div>
    <hr>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                {% bootstrap_field filter.specie %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-1" style="width: 75px;">
                <button type="submit" class="btn btn-info">{% trans 'Buscar' %}</button>
            </div>
            <div class="col-md-1">
                <a class="btn btn-primary " type="button" href="{% url 'vaccines-add'%}">Adicionar</a>
            </div>
        </div>
    </form>
    <br>
    {% if vaccines %}
    <div class="row">
        <table class="table align-middle mb-0 bg-white">  
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Nome </th>
                    <th> Ativo</th>
                    <th> Ação </th>
                </tr>
            </thead>
            <tbody>
                {% for vaccine in vaccines %}
                <tr>
                    <td>
                        <p class="fw-normal mb-1"> {{vaccine.id}}</p>   
                    </td>
                    <td>
                        <p class="fw-normal mb-1"> {{vaccine.name}}</p>   
                    </td>
                    <td>
                        <p class="fw-normal mb-1"> {{vaccine.active}}</p>   
                    </td>
                    <td>
                        <a type="button" class="btn btn-dark" href="{% url 'vaccines-edit' pk=vaccine.id%}"
                            style="margin-right: 3px;">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>   
    </div>
</div>
{% endif%}
{% endblock%}