{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid" id="principal">
  <div class="row">
    <div class="col-9"> Seja bem-vindo(a), {{ user.username }}!</div>
  </div>
  <div class="row">
    <div class="col-3">
      {% include "modals/modal_application.html" with application_form=application_form vaccine_form=vaccine_form %}
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_application">
        Vacinar
      </button>
    </div>
    <div class="table">
      {% for application in applications %}
        {{ application.application.animal}} - {{ application.vaccine}} - {{ application.application.add_date}}
        <br />
      {% endfor %}
    </div>
  </div>

</div>
<p><a href="{% url 'logout' %}">Log Out</a></p>


{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}


