{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% include "modals/modal_application.html" with application_form=application_form vaccine_form=vaccine_form %}
<div class="container-fluid">


    <!-- Filters -->
    <div class="row">
        <div class="col-1">
            <h5>Filtros:</h5>
        </div>
        <div class="col-2">
            <input type="text" placeholder="Busca" class="form-control">
        </div>
        <div class="col-2">
            <input type="date" class="form-control" placeholder="data inicio">
        </div>
        <div class="col-2">
            <input type="date" class="form-control" placeholder="data fim">
        </div>
        <div class="col-2">
            <input type="select" class="form-control" placeholder="Raça">
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-dark">Pesquisar</button>
        </div>
    </div>
    <hr>
    <!-- Div Nova Vacina -->

    <div class="row" style="margin-top: 10px;">
        <div class="col-6" style="width: 66%; height: 630px; background: #f2f2f2; border-radius: 5px; border: 1px solid;">
            <div class="row" style="margin-top: 1%;">
                <div class="col-10">
                    <h4 style="justify-content: center; margin-top: 1%;" >Histórico (Ultimas 10)</h4>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#modal_application">
                        Vacinar
                    </button>
                </div>
            </div>
            
            <table class="table align-middle mb-0">
                <thead> 
                    <tr>
                        <th>Nome</th>
                        <th>Raça</th>
                        <th>Dt. Nascimento</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- Icon -->
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                    style="width: 45px; height: 45px" class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">Romeu</p>
                                </div>
                            </div>
                        </td>
        
                        <!-- Breed -->
                        <td>
                            <p class="fw-normal mb-1"> Cachorro</p>
                        </td>
        
                        <!-- Birthdate -->
                        <td>
                            <p class="fw-normal mb-1"> 21/08/2000</p>
                        </td>
        
                        <!-- Edit -->
                        <td>
                            <a type="button" class="btn btn-dark" href=""
                                style="margin-right: 3px;">Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <!-- Icon -->
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                    style="width: 45px; height: 45px" class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">Romeu</p>
                                </div>
                            </div>
                        </td>
        
                        <!-- Breed -->
                        <td>
                            <p class="fw-normal mb-1"> Cachorro</p>
                        </td>
        
                        <!-- Birthdate -->
                        <td>
                            <p class="fw-normal mb-1"> 21/08/2000</p>
                        </td>
        
                        <!-- Edit -->
                        <td>
                            <a type="button" class="btn btn-dark" href=""
                                style="margin-right: 3px;">Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6" style="width: 25%; height: 200px; background: #DBDBDB; margin-left: 10px; border-radius: 5px; border: 1px solid;">
            <h4 style="margin-top: 3%;">Alertas (Próximos 15 dias)</h4>
            <hr>
        </div>
    </div>
</div>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}

{% block scripts %}
<script>
    $("#name-title").html("Dashboard");
</script>
{% endblock %}

{% endblock %}